/* You can add global styles to this file, and also import other style files */
@use '@angular/material' as mat;
// ! CODEMIRROR Dependencies
@use 'codemirror/lib/codemirror';
@use 'codemirror/theme/material-palenight';
// ! END CODEMIRROR Dependencies


html {
  --mat-sys-body-large: 400 1.25rem / 1.75rem Roboto;
  --mat-sys-body-large-font: Roboto;
  --mat-sys-body-large-line-height: 1.75rem;
  --mat-sys-body-large-size: 1.25rem;
  --mat-sys-body-large-tracking: 0.031rem;
  --mat-sys-body-large-weight: 400;
  --mat-sys-body-medium: 400 1rem / 1.5rem Roboto;
  --mat-sys-body-medium-font: Roboto;
  --mat-sys-body-medium-line-height: 1.5rem;
  --mat-sys-body-medium-size: 1rem;
  --mat-sys-body-medium-tracking: 0.031rem;
  --mat-sys-body-medium-weight: 400;
  --mat-sys-body-small: 400 0.875rem / 1.25rem Roboto;
  --mat-sys-body-small-font: Roboto;
  --mat-sys-body-small-line-height: 1.25rem;
  --mat-sys-body-small-size: 0.875rem;
  --mat-sys-body-small-tracking: 0.016rem;
  --mat-sys-body-small-weight: 400;


  --mat-sys-display-large: 400 2.562rem / 3rem Roboto;
  --mat-sys-display-large-font: Roboto;
  --mat-sys-display-large-line-height: 3rem;
  --mat-sys-display-large-size: 2.562rem;
  --mat-sys-display-large-tracking: -0.016rem;
  --mat-sys-display-large-weight: 400;
  --mat-sys-display-medium: 400 1.812rem / 2.25rem Roboto;
  --mat-sys-display-medium-font: Roboto;
  --mat-sys-display-medium-line-height: 2.25rem;
  --mat-sys-display-medium-size: 1.812rem;
  --mat-sys-display-medium-tracking: 0;
  --mat-sys-display-medium-weight: 400;
  --mat-sys-display-small: 400 1.25rem / 1.75rem Roboto;
  --mat-sys-display-small-font: Roboto;
  --mat-sys-display-small-line-height: 1.75rem;
  --mat-sys-display-small-size: 1.25rem;
  --mat-sys-display-small-tracking: 0;
  --mat-sys-display-small-weight: 400;

  --mat-sys-headline-large: 400 2rem / 2.5rem Roboto;
  --mat-sys-headline-large-font: Roboto;
  --mat-sys-headline-large-line-height: 2.5rem;
  --mat-sys-headline-large-size: 2rem;
  --mat-sys-headline-large-tracking: 0;
  --mat-sys-headline-large-weight: 400;
  --mat-sys-headline-medium: 400 1.75rem / 2.25rem Roboto;
  --mat-sys-headline-medium-font: Roboto;
  --mat-sys-headline-medium-line-height: 2.25rem;
  --mat-sys-headline-medium-size: 1.75rem;
  --mat-sys-headline-medium-tracking: 0;
  --mat-sys-headline-medium-weight: 400;
  --mat-sys-headline-small: 400 1.5rem / 2rem Roboto;
  --mat-sys-headline-small-font: Roboto;
  --mat-sys-headline-small-line-height: 2rem;
  --mat-sys-headline-small-size: 1.5rem;
  --mat-sys-headline-small-tracking: 0;
  --mat-sys-headline-small-weight: 400;

  --mat-sys-label-large: 500 0.875rem / 1.25rem Roboto;
  --mat-sys-label-large-font: Roboto;
  --mat-sys-label-large-line-height: 1.25rem;
  --mat-sys-label-large-size: 0.875rem;
  --mat-sys-label-large-tracking: 0.006rem;
  --mat-sys-label-large-weight: 500;
  --mat-sys-label-large-weight-prominent: 700;
  --mat-sys-label-medium: 500 0.75rem / 1rem Roboto;
  --mat-sys-label-medium-font: Roboto;
  --mat-sys-label-medium-line-height: 1rem;
  --mat-sys-label-medium-size: 0.75rem;
  --mat-sys-label-medium-tracking: 0.031rem;
  --mat-sys-label-medium-weight: 500;
  --mat-sys-label-medium-weight-prominent: 700;
  --mat-sys-label-small: 500 0.688rem / 1rem Roboto;
  --mat-sys-label-small-font: Roboto;
  --mat-sys-label-small-line-height: 1rem;
  --mat-sys-label-small-size: 0.688rem;
  --mat-sys-label-small-tracking: 0.031rem;
  --mat-sys-label-small-weight: 500;

  --mat-sys-title-large: 400 1.375rem / 1.75rem Roboto;
  --mat-sys-title-large-font: Roboto;
  --mat-sys-title-large-line-height: 1.75rem;
  --mat-sys-title-large-size: 1.375rem;
  --mat-sys-title-large-tracking: 0;
  --mat-sys-title-large-weight: 400;
  --mat-sys-title-medium: 500 1rem / 1.5rem Roboto;
  --mat-sys-title-medium-font: Roboto;
  --mat-sys-title-medium-line-height: 1.5rem;
  --mat-sys-title-medium-size: 1rem;
  --mat-sys-title-medium-tracking: 0.009rem;
  --mat-sys-title-medium-weight: 500;
  --mat-sys-title-small: 500 0.875rem / 1.25rem Roboto;
  --mat-sys-title-small-font: Roboto;
  --mat-sys-title-small-line-height: 1.25rem;
  --mat-sys-title-small-size: 0.875rem;
  --mat-sys-title-small-tracking: 0.006rem;
  --mat-sys-title-small-weight: 500;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

body.light-mode {
  color-scheme: light;
  color: var(--mat-sys-on-surface);
  background-color: var(--mat-sys-surface);
}

body.dark-mode {
  color-scheme: dark;
  color: var(--mat-sys-on-surface);
  background-color: var(--mat-sys-surface);
}

body {
  &.red-palette {
    @include mat.theme(
      (
        color: mat.$red-palette,
      )
    );
  }

  &.green-palette {
    @include mat.theme(
      (
        color: mat.$green-palette,
      )
    );
  }

  &.blue-palette {
    @include mat.theme(
      (
        color: mat.$blue-palette,
      )
    );
  }

  &.yellow-palette {
    @include mat.theme(
      (
        color: mat.$yellow-palette,
      )
    );
  }

  &.cyan-palette {
    @include mat.theme(
      (
        color: mat.$cyan-palette,
      )
    );
  }

  &.magenta-palette {
    @include mat.theme(
      (
        color: mat.$magenta-palette,
      )
    );
  }

  &.orange-palette {
    @include mat.theme(
      (
        color: mat.$orange-palette,
      )
    );
  }
  &.chartreuse-palette {
    @include mat.theme(
      (
        color: mat.$chartreuse-palette,
      )
    );
  }
  &.spring-green-palette {
    @include mat.theme(
      (
        color: mat.$spring-green-palette,
      )
    );
  }
  &.azure-palette {
    @include mat.theme(
      (
        color: mat.$azure-palette,
      )
    );
  }
  &.violet-palette {
    @include mat.theme(
      (
        color: mat.$violet-palette,
      )
    );
  }
  &.rose-palette {
    @include mat.theme(
      (
        color: mat.$rose-palette,
      )
    );
  }
}

.flex-spacer {
  flex-grow: 1;
}

@for $i from 0 through 24 {
  .mat-elevation-z#{$i} {
    @include mat.elevation($i);
  }
}

// TODO Clean this shit up
// ! Needs to be a part of Library
.cdk-drag-preview {
  color: var(--mat-sys-on-secondary-container);
  background-color: var(--mat-sys-secondary-container);
  border-radius: 8px;
  box-sizing: border-box;
  overflow: visible;
  box-shadow: var(--mat-sys-level4);

  & *:not(toolbar) {
    padding: 0 !important;
    margin: 0 !important;
  }
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
// TODO END Clean this shit up

.cm-editor {
  font-family: Cascadia Code, Fira Code, Menlo, Monaco, 'Courier New', monospace;
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0.5px;
}