pre {
  display: flex;
  margin-top: 0;
  margin-bottom: 0;
  word-wrap: break-word;
  code {
    border-radius: 4px 4px 0 0;
    border: solid 1px rgba(0,0,0,.12);
    flex: 1;
    line-height: 1.5em;
    font-size: 14px;
    min-height: 100%;
    padding: 1em 1.2em;
    overflow-x: auto;
    &.hljs-line-numbers {
      padding: 0 !important;
    }
  }
}

.button-group {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 10px;
  color: #FFF;
  background-color: #000;
  border: solid 1px rgba(0,0,0,.12);
  border-radius: 0 0 4px 4px;
  font-size: 11px;
  padding-right: 10px;
}

.pointer {
  cursor: pointer;
}

section {
  margin-bottom: 10px;
}