@use 'sass:color';
@use 'sass:map';
@use '@angular/material' as mat;

@mixin theme($theme) {
  $primary: map.get($theme, primary);
  $foreground: map.get($theme, foreground);
  $background: map.get($theme, background);
  $frown-color: mat.get-color-from-palette($background, background);
  $shield-color: mat.get-color-from-palette($primary);

  ngx-login {
    color: mat.get-color-from-palette($foreground, text);
  }
}
