@use 'sass:map';
@use '@angular/material' as mat;

@mixin theme($theme) {
  $primary: map.get($theme, primary);
  $foreground: map.get($theme, foreground);

  ngx-login {
    color: mat.get-color-from-palette($foreground, text);
  }
}
