@use '@angular/material' as mat;
@use 'sass:color';
@use 'sass:map';

@use '@tmdjr/ngx-editorjs' as ngx-editorjs;
@use '@tmdjr/ngx-editorjs-blockquotes-block' as ngx-editorjs-blockquotes-block;
@use '@tmdjr/ngx-editorjs-code-block' as ngx-editorjs-code-block;
@use '@tmdjr/ngx-editorjs-mermaid-block' as ngx-editorjs-mermaid-block;

@use './pages/not-found/not-found-theme';
@use './pages/login/login';
@use './pages/sidenav/sidenav';
@use './pages/sidenav/sidenav-pages/workshops/workshops';
@use './pages/sidenav/sidenav-pages/chat/chat';

@use './shared/components/footer/footer-theme';
@use './shared/components/navbar/navbar-theme';

// Styles for the docs app that are based on the current theme.
@mixin theme($theme) {
  $primary: map.get($theme, primary);
  $accent: map.get($theme, accent);
  $warn: map.get($theme, warn);
  $background: map.get($theme, background);
  $foreground: map.get($theme, foreground);
  $next-theme: mat.define-palette(mat.$red-palette);
  $is-dark-theme: map.get($theme, is-dark);


  ::-webkit-scrollbar-thumb {
    background: rgba(mat.get-color-from-palette($primary, default), .45);
  }

  ::selection {
    background-color: rgba(mat.get-color-from-palette($primary, default), .4);
  }

  // It's only been a week since IE has die and now this on Edge
  // input:-webkit-autofill,
  // input:-webkit-autofill:focus {
  //   -webkit-box-shadow: 0 0 0 1000px rgba(mat.get-color-from-palette($primary, default), .45) inset !important;
  //   -webkit-text-fill-color: mat.get-color-from-palette($foreground, text) !important;
  // }
  // .mdc-text-field, .mdc-text-field--filled {
  //   background-color: red;
  //   border: 1px solid yellow;
  // }

  .app-background {
    background: mat.get-color-from-palette($background, background);
  }

  .primary-header {
    background: mat.get-color-from-palette($primary);

    h1 {
      color: mat.get-color-from-palette($primary, default-contrast);
    }
  }

  .create-icon {
    color: mat.get-color-from-palette($primary);
  }
  .edit-icon {
    color: mat.get-color-from-palette($accent);
  }
  .delete-icon {
    color: mat.get-color-from-palette($warn);
  }

  .warn {
    color: mat.get-color-from-palette($warn);
  }
  
  @include ngx-editorjs.theme($theme);
  @include ngx-editorjs-blockquotes-block.theme($theme);
  @include ngx-editorjs-code-block.theme($theme);
  @include ngx-editorjs-mermaid-block.theme($theme);

  // @include home-theme.theme($theme);
  @include not-found-theme.theme($theme);
  @include sidenav.theme($theme);
  @include workshops.theme($theme);
  @include chat.theme($theme);
  @include login.theme($theme);

  @include footer-theme.theme($theme);
  @include navbar-theme.theme($theme);
}
