@use '@angular/material' as mat;
@use 'sass:map';

@use '@tmdjr/ngx-editorjs-blockquotes-block' as ngx-editorjs-blockquotes-block;
@use '@tmdjr/ngx-editorjs-code-block' as ngx-editorjs-code-block;
@use '@tmdjr/ngx-editorjs-mermaid-block' as ngx-editorjs-mermaid-block;

@use './pages/not-found/not-found-theme';
@use './pages/home/home-theme';
@use './pages/sidenav/sidenav';

@use './shared/components/footer/footer-theme';
@use './shared/components/navbar/navbar-theme';

// Styles for the docs app that are based on the current theme.
@mixin theme($theme) {
  $primary: map.get($theme, primary);
  $accent: map.get($theme, accent);
  $warn: map.get($theme, warn);
  $background: map.get($theme, background);
  $foreground: map.get($theme, foreground);
  $next-theme: mat.define-palette(mat.$red-palette);
  
  ::-webkit-scrollbar-thumb {
    background: rgba(mat.get-color-from-palette($primary, default), .45);
  }

  .app-background {
    background: mat.get-color-from-palette($background, background);
  }

  .primary-header {
    background: mat.get-color-from-palette($primary);

    h1 {
      color: mat.get-color-from-palette($primary, default-contrast);
    }
  }

  @include ngx-editorjs-blockquotes-block.theme($theme);
  @include ngx-editorjs-code-block.theme($theme);
  @include ngx-editorjs-mermaid-block.theme($theme);

  @include home-theme.theme($theme);
  @include not-found-theme.theme($theme);
  @include sidenav.theme($theme);

  @include footer-theme.theme($theme);
  @include navbar-theme.theme($theme);
}
