<nav class="navbar-header">
  <a mat-button routerLink="/">
    <!-- wysiwyg settings_suggest tips_and_updates manage_accounts dashboard -->
    <mat-icon class="workshop-logo">admin_panel_settings</mat-icon>
    <span>Ngx-Admin</span>
  </a>
  <div class="flex-spacer"></div>
  <theme-picker></theme-picker>
  <a mat-button href="https://github.com/Ba5ik7/workshop-viewer" target="_blank">
    <img class="workshop-logo"
         src="/admin/assets/img/github-circle-white-transparent.svg"
         alt="github">
    GitHub
  </a>
</nav>
