<mat-sidenav-container class="workshop-sidenav-container">
  <div class="workshop-sidenav-content">
    <header class="primary-header workshop-page-header">
      <img *ngIf="headerSvgPath | async"
        class="workshop-page-header-section-img"
        [src]="'/admin' + (headerSvgPath | async)">
      <h1>{{sectionTitle | async}}: {{categoryTitle | async}}</h1>
    </header>
    <div class="workshop-sidenav-inner-content">
      <main class="workshop-sidenav-body-content">
        <workshop-menu [sections]="sections | async"></workshop-menu>
        <router-outlet></router-outlet>
      </main>
      <app-footer></app-footer>
    </div>
  </div>
</mat-sidenav-container>