@use '@angular/material' as mat;
@use '../../../app/app-theme';

$primary-edu: mat.define-palette(mat.$deep-purple-palette);
$accent-edu: mat.define-palette(mat.$light-blue-palette, A200, A100, A400);

$edu-theme: mat.define-dark-theme((
  color: (
    primary: $primary-edu,
    accent: $accent-edu
  ),
  typography: mat.define-typography-config(),
));

@include mat.all-component-themes($edu-theme);
@include app-theme.theme($edu-theme);


.mat-drawer-content, .mat-sidenav-content, .app-background {
  background-color: #4527A0;
}

.mat-mdc-card,
.mat-mdc-card-outlined,
mat-card.mat-mdc-card.mdc-card {
  background-color: #512DA8;
}

.workshop-menu-nav, .workshop-controls-panel, .paginator, .paginator, .paginator, .paginator {
  background: #5E35B1
}

.successful-text {
  color: #1B5E20;
}
.failure-text {
  color: #D50000;
}

// TODO - Add this to a ngx-editorjs-client theme file
ngx-editorjs {
  a, a:visited, a:hover, a:active {
    color: #9FA8DA;
  }
}