@use '@angular/material' as mat;
@use '../../../app/app-theme';

$primary-fun: mat.define-palette(mat.$pink-palette);
$accent-fun: mat.define-palette(mat.$orange-palette, A200, A100, A400);

$fun-theme: mat.define-dark-theme((
  color: (
    primary: $primary-fun,
    accent: $accent-fun
  ),
  typography: mat.define-typography-config(),
));

@include mat.all-component-themes($fun-theme);
@include app-theme.theme($fun-theme);



.mat-drawer-content, .mat-sidenav-content, .app-background {
  background-color: #AD1457;
}

.mat-mdc-card, .mat-mdc-dialog-container, .mat-mdc-card-outlined{
  background-color: #C2185B;
}


.successful-text {
  color: #43A047;
}
.failure-text {
  color: #F44336;
}

// TODO - Add this to a ngx-editorjs-client theme file
ngx-editorjs {
  a, a:visited, a:hover, a:active {
    color: #E1BEE7;
  }
}