@use '@angular/material' as mat;
@use '../../../app/app-theme';

$primary-prof: mat.define-palette(mat.$blue-grey-palette);
$accent-prof: mat.define-palette(mat.$amber-palette, A200, A100, A400);

$prof-theme: mat.define-dark-theme((
  color: (
    primary: $primary-prof,
    accent: $accent-prof
  ),
  typography: mat.define-typography-config(),
));

@include mat.all-component-themes($prof-theme);
@include app-theme.theme($prof-theme);

.mat-drawer-content, .mat-sidenav-content, .app-background {
  background-color: #37474F;
}

.mat-mdc-card,
.mat-mdc-card-outlined,
mat-card.mat-mdc-card.mdc-card {
  background-color: #455A64;
}

.workshop-menu-nav, .workshop-controls-panel, .paginator, .paginator {
  background: #455A64
}

.successful-text {
  color: #C8E6C9;
}
.failure-text {
  color: #FFCDD2;
}
// Success: #A5D6A7 (Green 200)
// Failure: #EF9A9A (Red 200)
// Option 2:

// Success: #C8E6C9 (Green 100)
// Failure: #FFCDD2 (Red 100)
// Option 3:

// Success: #DCEDC8 (Green 50)
// Failure: #FFEBEE (Red 50)

// TODO - Add this to a ngx-editorjs-client theme file
ngx-editorjs {
  a, a:visited, a:hover, a:active {
    color: #90CAF9;
  }
}
