@use '@angular/material' as mat;
@use '../../../app/app-theme';

$primary-dark-summer: mat.define-palette(mat.$blue-palette);
$accent-dark-summer: mat.define-palette(mat.$deep-orange-palette, A200, A100, A400);

$dark-summer-theme: mat.define-dark-theme((
  color: (
    primary: $primary-dark-summer,
    accent: $accent-dark-summer
  ),
  typography: mat.define-typography-config(),
));

@include mat.all-component-themes($dark-summer-theme);
@include app-theme.theme($dark-summer-theme);

.mat-drawer-content, .mat-sidenav-content, .app-background {
  background-color: #2A3C48;
}

.mat-mdc-card,
.mat-mdc-card-outlined,
mat-card.mat-mdc-card.mdc-card {
  background-color: #1C313A;
}

.workshop-menu-nav, .workshop-controls-panel, .paginator, .paginator {
  background: #3B4D57
}

.successful-text {
  color: #66BB6A;
}
.failure-text {
  color: #EF5350;
}

// TODO - Add this to a ngx-editorjs-client theme file
ngx-editorjs {
  a, a:visited, a:hover, a:active {
    color: #29B6F6;
  }
}