@use '@angular/material' as mat;
@use '../../../app/app-theme';

$primary-dark-summer: mat.define-palette(mat.$blue-palette);
$accent-dark-summer: mat.define-palette(mat.$deep-orange-palette, A200, A100, A400);

$dark-summer-theme: mat.define-dark-theme((
  color: (
    primary: $primary-dark-summer,
    accent: $accent-dark-summer
  ),
  typography: mat.define-typography-config(),
));

@include mat.all-legacy-component-themes($dark-summer-theme);
@include app-theme.theme($dark-summer-theme);

.mat-drawer-content, .mat-sidenav-content, .app-background {
  background-color: #2A3C48;
}

.mat-card, .mat-dialog-container  {
  background-color: #1C313A;
}

.workshop-menu-nav, .workshop-controls-panel, .paginator {
  background: #3B4D57
}
