@use '@angular/material' as mat;
@use '../../../app/app-theme';

$primary-vanguard: mat.define-palette((
  50: #FAE7E8,
  100: #F0BFC1,
  200: #E49697,
  300: #D76D6D,
  400: #CE4C4F,
  500: #C8102E,
  600: #C10B28,
  700: #B7041F,
  800: #AD0017,
  900: #9B000A,
  A100: #FF9D9E,
  A200: #FF6B6C,
  A400: #FF383A,
  A700: #FF2223,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #FFFFFF,
    600: #FFFFFF,
    700: #FFFFFF,
    800: #FFFFFF,
    900: #FFFFFF,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  )
));

$accent-vanguard: mat.define-palette(mat.$blue-palette, 800, A200, A700);

$vanguard-theme: mat.define-dark-theme((
  color: (
    primary: $primary-vanguard,
    accent: $accent-vanguard
  ),
  typography: mat.define-typography-config(),
));

@include mat.all-component-themes($vanguard-theme);
@include app-theme.theme($vanguard-theme);


.mat-drawer-content, .mat-sidenav-content, .app-background {
  background-color: #2C3E50;
}

.mat-mdc-card,
.mat-mdc-card-outlined,
mat-card.mat-mdc-card.mdc-card {
  background-color: #4A5B6D;
}

.workshop-menu-nav, .workshop-controls-panel, .paginator, .paginator {
  background: #3B4C5E
}

.successful-text {
  color: #4CAF50;
}
.failure-text {
  color: #F44336;
}

// TODO - Add this to a ngx-editorjs-client theme file
ngx-editorjs {
  a, a:visited, a:hover, a:active {
    color: #039BE5;
  }
}
