@use '@angular/material' as mat;
@use '../../../app/app-theme';

$primary-dark-winter: mat.define-palette(mat.$cyan-palette);
$accent-dark-winter: mat.define-palette(mat.$light-blue-palette, A200, A100, A400);

$dark-winter-theme: mat.define-dark-theme((
  color: (
    primary: $primary-dark-winter,
    accent: $accent-dark-winter
  ),
  typography: mat.define-typography-config(),
));

@include mat.all-component-themes($dark-winter-theme);
@include app-theme.theme($dark-winter-theme);

.mat-drawer-content, .mat-sidenav-content, .app-background {
  background-color: #2C3187;
}

.mat-mdc-card,
.mat-mdc-card-outlined,
mat-card.mat-mdc-card.mdc-card {
  background-color: #1A237E;
}

.workshop-menu-nav, .workshop-controls-panel, .paginator, .paginator {
  background: #3D4091
}

.successful-text {
  color: #2E7D32;
}
.failure-text {
  color: #C62828;
}

// TODO - Add this to a ngx-editorjs-client theme file
ngx-editorjs {
  a, a:visited, a:hover, a:active {
    color: #26A69A;
  }
}