@use '@angular/material' as mat;
@use '../../../app/app-theme';

// Define the light theme.
$primary: mat.define-palette(mat.$indigo-palette);
$accent: mat.define-palette(mat.$green-palette, A200, A100, A400);
$theme: mat.define-dark-theme((
  color: (
    primary: $primary,
    accent: $accent
  ),
  typography: mat.define-typography-config(),
));

@include mat.all-component-themes($theme);
@include app-theme.theme($theme);

.mat-drawer-content, .mat-sidenav-content, .app-background {
  background-color: #303030;
}

.mat-mdc-card,
.mat-mdc-card-outlined,
mat-card.mat-mdc-card.mdc-card {
  background-color: #424242;
}

.workshop-menu-nav, .workshop-controls-panel, .paginator {
  background: #383838
}