@use '@angular/material' as mat;
@use '../../../app/app-theme';

$primary-dark-spring: mat.define-palette(mat.$teal-palette);
$accent-dark-spring: mat.define-palette(mat.$pink-palette, A100, A200, A400);

$dark-spring-theme: mat.define-dark-theme((
  color: (
    primary: $primary-dark-spring,
    accent: $accent-dark-spring
  ),
  typography: mat.define-typography-config(),
));

@include mat.all-legacy-component-themes($dark-spring-theme);
@include app-theme.theme($dark-spring-theme);



.mat-drawer-content, .mat-sidenav-content, .app-background {
  background-color: #465A61;
}

.mat-card, .mat-dialog-container  {
  background-color: #2F4F4F;
}

.workshop-menu-nav, .workshop-controls-panel, .paginator, .paginator {
  background: #5B6A70
}