::-webkit-scrollbar {
  width: 0px;
  height: 4px;
}

::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0);
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
              0 8px 10px 1px rgba(0, 0, 0, 0.14),
              0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.page-list.cdk-drop-list-dragging .page-item:not(.cdk-drag-placeholder),
.category-list.cdk-drop-list-dragging .category-item:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

html,
body {
  height: 100vh;
}

body {
  font-family: "Roboto","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
  margin: 0;
}

h1, h2 {
  font-weight: 400;
}

code, pre {
  font-family: 'Roboto Mono', monospace;
}

code {
  font-size: 90%;
}

pre {
  font-size: 14px;
}

.flex-spacer {
  flex-grow: 1;
}

.primary-header {
  padding-left: 20px;

  h1 {
    font-weight: 300;
    margin: 0;
    padding: 28px 8px;
    font-size: 20px;
  }
}

[contenteditable] {
  outline: 0px solid transparent;
}

.successful-text {
  color: #66BB6A;
}

.failure-text {
  color: #EF5350;
}

input:-webkit-autofill,  
input:-webkit-autofill:hover,  
input:-webkit-autofill:focus,  
input:-webkit-autofill:active,  
input:-internal-autofill-selected,
input:-internal-autofill-selected:hover,
input:-internal-autofill-selected:focus,
input:-internal-autofill-selected:active
 {
   -webkit-transition: "color 9999s ease-out, background-color 9999s ease-out"!important;
   -webkit-transition-delay: 9999s!important;
   transition: color 9999s ease-out, background-color 9999s ease-out!important;
   transition-delay: 9999s!important;
}