<button mat-icon-button
        [mat-menu-trigger-for]="themeMenu"
        matTooltip="Select a theme for the documentation">
  <mat-icon>format_color_fill</mat-icon>
</button>

<mat-menu #themeMenu="matMenu" xPosition="before" class="theme-picker-menu">
  <button mat-menu-item *ngFor="let theme of themes | keyvalue" (click)="selectTheme(theme.key)">
    <mat-icon 
      [ngClass]="{'docs-theme-selected-icon': currentTheme === theme.key}"
      [color]="currentTheme === theme.key ? 'accent' : undefined">
      {{currentTheme === theme.key ? 'radio_button_checked' : 'radio_button_unchecked'}}
    </mat-icon>
    <span>{{theme.value}}</span>
    <mat-icon [class]="'theme-example-icon ' + theme.key" svgIcon="theme-example"></mat-icon>
  </button>
</mat-menu>