:host {
  grid-template-columns: 0 calc(100vw - 558px) auto;
  display: grid;

  .select-a-category-placeholder{
    padding: 50px;
  }
}

.workshop-controls-panel {
  position: sticky;
  top: 0;
  height: calc(100vh - 56px);
  width: 315px;
}
