<mat-sidenav-container class="sidenav-container">
  <div class="sidenav-content">
    <header class="primary-header sidenav-page-header">
      <img *ngIf="headerSvgPath | async"
        [src]="'/admin' + (headerSvgPath | async)">
      <h1>{{sectionTitle | async}}: {{categoryTitle | async}}</h1>
    </header>
    <div class="sidenav-inner-content">
      <main class="sidenav-body-content">
        <ngx-sidenav-menu [sections]="sections | async"></ngx-sidenav-menu>
        <router-outlet></router-outlet>
      </main>
      <ngx-footer></ngx-footer>
    </div>
  </div>
</mat-sidenav-container>