ngx-sidenav {
  display: flex;
  flex-direction: column;
  overflow: auto;
}

.sidenav-body-content {
  display: flex;
  flex: 1 1 auto;
}

.sidenav-page-header {
  display: flex;
  align-items: center;

  h1 {
    font-weight: 300;
    margin: 0;
    padding: 28px 8px;

    @media (max-width: 959px) {
      padding: 24px 8px;
      font-size: 20px;
    }
  }

  img {
    width: 50px;
    margin: 0 10px;
  }

  @media (max-width: 959px) {
    padding-left: 0;
  }
}
.sidenav-toggle {
  padding: 0;
  margin: 8px;
  min-width: 64px;
  display: none;
  @media (max-width: 959px) {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
.workshop-menu-nav {
  position: sticky;
  top: 0;

  .workshop-menu-nav-content {
    width: 240px;
    height: calc(100vh - 56px);
    overflow: auto;

    &::-webkit-scrollbar {
      height: 4px;
      width: 4px;
    }
  }

  .workshop-menu-nav-content .mat-nav-list .mat-list-item .mat-list-item-content {
    padding-left: 25px;
  }
}