workshop-detail {
  font-weight: 400;
  // width: calc(100% - 341px);

  // spacing for the component viewer
  // padding: 20px 50px;

  // Sidenav is hidden
  @media (max-width: 720px) {
    // width: calc(100% - 100px);
  }
  @media (max-width: 599px) {
    // width: calc(100% - 30px);
    padding-left: 15px;
    padding-right: 15px;
  }

  .paginator {
    position: sticky;
    top: 0;
    z-index: 2;
  }
}

// .workshop-detail-content {
//   position: relative;
//   min-height: 500px;

//   workshop-viewer-terrence-dusell {
//     display: flex;
//     align-items: flex-start;
//     overflow: visible;
//   }
// }

// Code highligther will overflow the screen with out this
// .code-highlighter-wrapper {
//   width: calc(100vw - 373px);
//   // Sidenav is hidden
//   @media (max-width: 959px) {
//     width: calc(100vw - 132px);
//   }
//   @media (max-width: 599px) {
//     width: calc(100vw - 62px);
//   }
// }