<header focusOnNavigation class="header-background" aria-label="Get started" id="homepage-header">
  <div class="header-section">
    <div class="header-headline">
      <h1>Ngx-Workshop</h1>
      <h2>Workshops for Angular, RxJS, and Nest</h2>
    </div>
    <div class="header-start">
      <a mat-raised-button routerLink="/404">Get started</a>
    </div>
  </div>
</header>
<main class="home-promo">
  <div class="home-row home-introduction">
    <div class="home-row-column">
      <img src="../../../assets/img/nestjs2.svg">
      <h2>NestJs</h2>
      <p>A progressive Node.js framework for building efficient, reliable and scalable server-side applications.</p>
    </div>
    <div class="home-row-column home-row-column--angular-section">
      <img src="../../../assets/img/angular.svg">
      <h2>Angular</h2>
      <p>Angular is an application-design framework and development platform for creating efficient and sophisticated single-page apps.</p>
    </div>
    <div class="home-row-column">
      <img src="../../../assets/img/rxjs1.svg">
      <h2>RxJS</h2>
      <p>RxJS is a library for reactive programming using Observables, to make it easier to compose asynchronous or callback-based code.</p>
    </div>
  </div>
</main>
<ngx-footer></ngx-footer>