<footer class="footer">
  <div class="docs-footer-list">
    <div class="docs-footer--github">
      <a class="docs-button"
        href="https://github.com/Ba5ik7/workshop-viewer"
        target="_blank"
        aria-label="GitHub Repository">
        <img
          class="workshop-logo docs-footer-github-logo"
          src="/assets/img/github-circle-white-transparent.svg"
          alt="github">
      </a>
    </div>

    <div class="docs-footer--buy-me-a-coffee">
        <a href="https://www.buymeacoffee.com/wesleydusell" target="_blank"><img src="https://cdn.buymeacoffee.com/buttons/v2/default-yellow.png" alt="Buy Me A Coffee" style="height: 60px !important;width: 217px !important;" ></a>
    </div>
  </div>
</footer>