<div class="workshop-menu-nav">
  <div class="workshop-menu-nav-content">
    <mat-nav-list>
      <a mat-list-item routerLink="dashboard" routerLinkActive="workshop-menu-nav-item-selected">
        <mat-icon>dashboard</mat-icon>
        Dashboard
      </a>
      <a mat-list-item routerLink="users" routerLinkActive="workshop-menu-nav-item-selected">
        <mat-icon>supervisor_account</mat-icon>
        Users
      </a>
      <a mat-list-item routerLink="chat" routerLinkActive="workshop-menu-nav-item-selected">
        <mat-icon>chat</mat-icon>
        Chat
      </a>
      <a mat-list-item routerLink="settings" routerLinkActive="workshop-menu-nav-item-selected">
        <mat-icon>settings</mat-icon>
        Settings
      </a>
      <mat-divider></mat-divider>
      <a mat-list-item routerLinkActive="workshop-menu-nav-item-selected" (click)="createSection()">
        <mat-icon class="create-icon">note_add</mat-icon>
        Create Section
      </a>
      <mat-divider></mat-divider>
      <a mat-list-item *ngFor="let section of sections | keyvalue"
          [routerLink]="'workshop-editor/' + section.value._id"
          routerLinkActive="workshop-menu-nav-item-selected"
          class="section-item">
        <!-- <img [src]="'/admin' + section.value.menuSvgPath"> -->
        {{section.value.sectionTitle}}
        <div class="flex-spacer"></div>
        <mat-icon class="delete-icon" (click)="deleteSection($event, section.value)">delete</mat-icon>
      </a>
    </mat-nav-list>
  </div>
</div>
