.form-container form {
  display: flex;
  flex-direction: column;
  gap: 5px;

  .form-level-error-message {
    color:  #f44336;
  }

  button {
    margin-bottom: 14px;
    &:nth-last-child(1) {
      &.mat-button-disabled {
        background-color: rgba(255, 255, 255, 0);
      }
    }
  }
}