<div class="form-container">

  <form [formGroup]="signInForm" *ngIf="!showCreateAccount">
    <h3>Sign In</h3>
    <span class="form-level-error-message">{{signInFormLevelMessage}}</span>
    <mat-form-field>
      <mat-label>Email</mat-label>
      <input matInput #signInEmail type="email" placeholder="Email" formControlName="email">
      <mat-error *ngIf="signInForm.get('email')?.errors">{{signInFormErrorMessages['email']}}</mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Password</mat-label>
      <input matInput type="password" placeholder="Password" formControlName="password">
      <mat-error *ngIf="signInForm.get('password')?.errors">{{signInFormErrorMessages['password']}}</mat-error>
    </mat-form-field>
    <button mat-raised-button color="primary" (click)="signInClick()" [disabled]="signInForm.invalid || formLoading">Sign In</button>
    <button mat-flat-button type="button" (click)="showCreateAccount = true" [disabled]="formLoading">Create Account</button>
  </form>
  
  <form [formGroup]="createAccountForm" *ngIf="showCreateAccount">
    <h3>Create Account</h3>
    <span class="form-level-error-message">{{createAccountFormLevelMessage}}</span>
    <mat-form-field>
      <mat-label>Email</mat-label>
      <input matInput #createAccountEmail type="email" placeholder="Email" formControlName="email">
      <mat-error *ngIf="createAccountForm.get('email')?.errors">{{createAccountFormMessages['email']}}</mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Password</mat-label>
      <input matInput type="password" placeholder="Password" formControlName="password">
      <mat-error *ngIf="createAccountForm.get('password')?.errors">{{createAccountFormMessages['password']}}</mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Confirm Password</mat-label>
      <input matInput type="password" placeholder="Password" formControlName="confirmPassword">
      <mat-error *ngIf="createAccountForm.get('confirmPassword')?.errors">{{createAccountFormMessages['confirmPassword']}}</mat-error>
    </mat-form-field>
    <button mat-raised-button color="primary" (click)="createAccountClick()" [disabled]="createAccountForm.invalid || formLoading">Create Acccount</button>
    <button mat-flat-button type="button" (click)="showCreateAccount = false" [disabled]="formLoading">Sign In</button>
  </form>
</div>