<div class="workshop-menu-nav">
  <div class="workshop-menu-nav-content">
    <mat-nav-list>
      <ng-container *ngIf="signedIn | async">
        <a mat-list-item routerLink="dashboard" routerLinkActive="workshop-menu-nav-item-selected">
          <mat-icon>dashboard</mat-icon>
          Dashboard
        </a>
        <a mat-list-item routerLink="chat" routerLinkActive="workshop-menu-nav-item-selected">
          <mat-icon>chat</mat-icon>
          Chat
        </a>
      <mat-divider></mat-divider>
      </ng-container>
      <a mat-list-item *ngFor="let category of categories"
          [routerLink]="category.id"
          routerLinkActive="workshop-menu-nav-item-selected">
        {{category.name}}
      </a>
    </mat-nav-list>
  </div>
</div>
