<mat-sidenav-container class="workshop-sidenav-container">
  <!-- If on small screen, menu resides in drawer -->
  <mat-sidenav #sidenav class="workshop-sidenav"
              *ngIf="(isScreenSmall | async)"
              [opened]="(isScreenSmall | async) === false"
              [mode]="(isScreenSmall | async) ? 'over' : 'side'"
              [fixedInViewport]="(isScreenSmall | async)"
              [fixedTopGap]="(isExtraScreenSmall | async) ? 92 : 56">
    <workshop-menu [categories]="categories | async" [section]="section | async"></workshop-menu>
  </mat-sidenav>
  <div class="workshop-sidenav-content">
    <header class="primary-header workshop-page-header">
      <button mat-button class="sidenav-toggle" (click)="toggleSideNav()">
        <mat-icon>menu</mat-icon>
      </button>
      <img class="workshop-page-header-section-img" [src]="headerSvgPath | async">
      <h1>{{sectionTitle | async}}: {{categoryTitle | async}}</h1>
    </header>
    <div class="workshop-sidenav-inner-content">
      <main class="workshop-sidenav-body-content">
        <!-- If on large screen, menu resides to left of content -->
        <workshop-menu
          *ngIf="(isScreenSmall | async) === false"
          [categories]="categories | async"
          [section]="section | async"></workshop-menu>
        <router-outlet></router-outlet>
      </main>
      <ngx-footer></ngx-footer>
    </div>
  </div>
</mat-sidenav-container>