<ng-container *ngIf="ngxEditorjsOutputBlock | async as blocks; else elseTemplate">
  <div class="workshop-detail-content">
    <div class="page">
      <section class="workshop-viewer-container">
        <div class="mat-card">
          <ngx-editorjs
            [inputData]="blocks"
            [requestValue]="requestValue"
            (valueRequested)="valueRequested($event)"
          ></ngx-editorjs>
        </div>
      </section>
    </div>
  </div>
</ng-container>
<ng-template #elseTemplate>
  LOADING!!!
</ng-template>
