@use '@angular/material' as mat;
@use 'sass:color';
@use 'sass:map';

@mixin theme($theme) {
  $primary: map.get($theme, primary);
  $accent: map.get($theme, accent);
  $background: map.get($theme, background);
  $foreground: map.get($theme, foreground);
  $is-dark-theme: map.get($theme, is-dark);
  $nav-background-opacity: if($is-dark-theme, 0.2, 0.03);
  $nav-background-focus-opacity: if($is-dark-theme, 0.25, 0.08);

  .page-item.cdk-drag-preview,
  .category-item.cdk-drag-preview {
    display: block;
    overflow: hidden;
    color: map.get($foreground, secondary-text);
    background: mat.get-color-from-palette($background, background);
    height: 48px;
    border-radius: 4px;
    text-decoration: none;
    font-size: 16px;
    position: relative;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
                0 8px 10px 1px rgba(0, 0, 0, 0.14),
                0 3px 14px 2px rgba(0, 0, 0, 0.12);

    span {
      display: flex;
      flex-direction: row;
      align-items: center;
      box-sizing: border-box;
      padding: 0 15px 0 0;
      position: relative;
      height: inherit;

      mat-icon {
        margin: 0 10px 3px 0;
      }
      
      :first-child {
        display: none;
      }
    }
  }

  .paginator {
    border-bottom: 1px solid mat.get-color-from-palette($foreground, divider);
  }

  .workshop-controls-panel {
    border-left: 1px solid mat.get-color-from-palette($foreground, divider);

    // category-list, page-list {
    //   border-bottom: 1px solid mat.get-color-from-palette($foreground, divider);
    // }

    a {
      color: map.get($foreground, secondary-text);

      &:hover {
        color: mat.get-color-from-palette($foreground, text);
      }

      &.workshop-menu-nav-item-selected {
        background: rgba(mat.get-color-from-palette($accent, default), 0.15);
        color: color.adjust(
          mat.get-color-from-palette($accent, default),
          $lightness: if($is-dark-theme, 25%, 0%)
        );
      }
    }

    .mat-list-item {
      color: rgba(mat.get-color-from-palette($foreground, secondary-text), 0.65);
    }
  }
}
