:host {
  .form-container form {    
    mat-form-field {
      width: 100%;
    }

    .radio-image-option {
      display: flex;
      align-items: stretch;
      margin-bottom: 18px;
      justify-content: space-around;
      flex-direction: row;
      .radio-image-option__label {
        margin-left: 14px;
      }
    }
    
    .form-level-error-message {
      color:  #f44336;
    }

    .image-preview {
      max-width: 100%;
      max-height: 100%;
    }
    
    button {
      margin-bottom: 14px;
      &:nth-last-child(1) {
        /* TODO(mdc-migration): The following rule targets internal classes of button that may no longer apply for the MDC version. */
        &.mat-button-disabled {
          background: rgba(255, 255, 255, 0);
        }
      }
    }
  }
}