<ng-container *ngIf="viewModel$ | async as vm; else elseTemplate">
  <div class="form-container">
    <form [formGroup]="vm.formGroup">
      <h2 mat-dialog-title>Create a New Workshop?</h2>
      <span class="form-level-error-message">{{vm.createWorkshopFormLevelMessage}}</span>
      <mat-form-field color="accent">
        <mat-label>Name</mat-label>
        <input matInput type="text" placeholder="Name" formControlName="name">
        <mat-error *ngIf="vm.formGroup.get('name')?.errors">{{createWorkshopControlsErrorMessage['name']}}</mat-error>
      </mat-form-field>
      <mat-form-field color="accent">
        <mat-label>Summary</mat-label>
        <textarea matInput placeholder="Summary" formControlName="summary"></textarea>
        <mat-error *ngIf="vm.formGroup.get('summary')?.errors">{{createWorkshopControlsErrorMessage['summary']}}</mat-error>
      </mat-form-field>
      <mat-dialog-actions align="end">
        <button mat-button mat-dialog-close [disabled]="vm.loading">Cancel</button>
        <button mat-raised-button color="primary" (click)="onCreateWorkshop(vm.formGroup.value)" [disabled]="vm.formGroup.invalid || vm.loading">Create</button>
      </mat-dialog-actions>
    </form>
  </div>
</ng-container>
<ng-template #elseTemplate>
  loading ...
</ng-template>
