<mat-nav-list>
  <a mat-list-item (click)="createWorkshop()">
    <mat-icon class="create-icon" color="accent">note_add</mat-icon>
    Create Workshop
  </a>
  <mat-divider></mat-divider>
</mat-nav-list>
<mat-nav-list cdkDropList class="category-list" (cdkDropListDropped)="onDrop($event)">
  <a mat-list-item routerLink="./workshop-list"
    routerLinkActive="workshop-menu-nav-item-selected">
    <mat-icon>view_module</mat-icon>
    Workshop List
  </a>  
  <a mat-list-item cdkDrag *ngFor="let workshop of workshops"
    class="category-item"
    [cdkDragDisabled]="cdkDragDisabled"
    [routerLink]="'./' + workshop.workshopDocumentGroupId + '/' + workshop.workshopDocuments[0]._id"
    routerLinkActive="workshop-menu-nav-item-selected">
    <mat-icon>drag_indicator</mat-icon>
    {{workshop.name}}
    <div class="flex-spacer"></div>
    <mat-icon class="edit-icon" (click)="editWorkshop($event, workshop)">edit</mat-icon>
    <mat-icon class="delete-icon" (click)="deleteWorkshop($event, workshop)">delete</mat-icon>
  </a>
</mat-nav-list>
<mat-divider></mat-divider>