:host {
  display: flex;
  flex-direction: column;

  ::-webkit-scrollbar {
    width: 4px;
  }

  .category-list {
    height: 185px;
    overflow: auto;
  }

  .mat-icon {
    margin: 0 10px 3px 0;
    vertical-align: middle;
  }

  .publish-actions {
    padding: 10px 10px;
    text-align: right;
  }

  .category-item {
    opacity: .65;
    .mat-list-item-content {
      display: flex;
    }
    .edit-icon, .delete-icon {
      margin: 0 0 0 10px;
      opacity: 0;
      &:hover {
        opacity: 1!important;
      }
    }
    &.workshop-menu-nav-item-selected {
      opacity: 1;
    }
    &:hover {
      opacity: 1;
      .edit-icon, .delete-icon {
        opacity: 0.45;
      }
    }
  }
}
