<ng-container *ngIf="docMetaObj | async as doc; else loading">
  <mat-paginator *ngIf="doc.docsHasMoreThenOne"
    #paginator
    class="paginator"
    [length]="doc.docsLength"
    [showFirstLastButtons]="true"
    [hidePageSize]="true"
    [pageSize]="1"
    [pageIndex]="doc.currentIndex"
    (page)="pageEventChange(doc.docsIds[$event.pageIndex]!, doc.hasWorkshopIdInURL)">
  </mat-paginator>

  <div class="workshop-detail-content">
    <workshop-viewer-terrence-dusell
      [workshopDocument]="doc.id"></workshop-viewer-terrence-dusell>
  </div>
</ng-container>

<ng-template #loading><div>Loading...</div></ng-template>
